@media (max-width: 800px){
    body{
        width: 100%;
    }
}

@media (max-width: 500px){
    .grid{
        grid-template-columns: 1fr;
    }
    .showcase{
        height: auto;
    }
    .container-card{
        margin-top: -50px;
    }
    .display{
        margin-top: 200px;
      
    }
    .table-1{
        overflow: hidden;
    }
    .footer{
        height: auto;
    }
    .container-card{
        margin-right: 5px;
        position: relative;
        top: 60px;
        
    }
    .card{
        width: 95%;
    }
    .display>.showcase>.table{
        width: 100%;
        margin: 0 auto;
        margin-top: 95px;
    }
    .display>.showcase>.table>h2{
        text-align: center;
        margin-left: 10px;
    }
    .display>.showcase>.table>.table-1{
        width: 30%;
        font-size: 0.8em;
        margin-left: -20px;
    }
    .display>.showcase>.table>.table-2{
        width: 30%;
        font-size: 0.8em;
        margin-left: -20px;
    }
    .footer>.showcase>.social{
        padding-right: 15px;
    }
    .footer>.showcase>.social>a{
        width: 20%;
        text-align: center;
    }
}
@media (max-width: 361px){
    .head-wrap>h1{
        font-size: 1.2em;
        border: 2px solid red;
    }
    .display>.showcase>.table{
        width: 100%;
        margin: 0 auto;
        margin-top: 95px;
    }
    .display>.showcase>.table>h2{
        text-align: center;
        margin-left: 10px;
    }
    .display>.showcase>.table>.table-1{
        width: 30%;
        font-size: 0.7em;
        margin-left: -25px;
    }
    .display>.showcase>.table>.table-2{
        width: 30%;
        font-size: 0.7em;
        margin-left: -25px;
    }

}

@media (max-width: 375px){
    .head-wrap>h1{
        font-size: 1.2em;
    }
    .display>.showcase>.table>.table-1{
        width: 30%;
        font-size: 0.69em;
        margin-left: -15px;
    }
    .display>.showcase>.table>.table-2{
        width: 30%;
        font-size: 0.69em;
        margin-left: -15px;
    }
}
@media (max-width: 300px){
    .nav-wrap>.flex>li{
        padding-left: -110px;
    }
}
